a {
    text-decoration: none;
}

a.box {
    padding: 10px;
    font-family: Quicksand;
    border-radius: 17px;
    display: inline;
    margin-left: 25px;
}


/* unvisited link */

a.box:link {
    color: #B1BAD0;
}


/* visited link */

a.box:visited {
    color: green;
    font: normal normal normal 16px/20px Quicksand;
    text-align: left;
    letter-spacing: 0px;
    color: #B1BAD0;
    display: inline;
}


/* mouse over link */

a.box:hover {
    color: #FFFFFF;
    font: normal normal normal 17px/24px Quicksand;
    background-color: #5379F5;
}


/* selected link */

a.box:active {
    color: black;
}

a.title:visited {
    background-color: #FFFFFF;
    color: #000000;
}

a.title:hover {
    background-color: #5379F5;
    color: #FFFFFF;
}

.body {
    position: relative;
    z-index: 1;
    width: 1280px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 0px;
    display: block;
}


/*Extra icon*/

.extraicon {
    background-color: #5379F5;
    border-radius: 20px 0px;
    width: 10px;
    height: 46px;
    margin-right: 9px;
}


/******Header******/

.header {
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    display: block;
}


/*Searching*/

.searching {
    margin: 0px auto;
    margin-top: 17px;
    padding: 0px;
    width: 77.5%;
    /*77.5%*/
    max-width: 992px;
    height: 67px;
    display: block;
    position: relative;
}

.headericon {
    position: relative;
    float: left;
    max-width: 147px;
    max-height: 32px;
}

.searchingbox {
    position: relative;
    float: right;
    width: 270px;
    height: 39px;
    display: flex;
    border: 1px solid #F0F2FD;
    border-radius: 20px;
    margin-right: 10px;
}

.searchingicon {
    margin-left: 44px;
    margin-top: 7px;
}


/*Menu*/

.menu {
    position: relative;
    margin: 0px auto;
    width: 77.5%;
    /*77.5%*/
    max-width: 992px;
    height: 34px;
    display: flex;
}

.menubox {
    position: relative;
    margin: 0px 0px 0px 0px;
    display: inline;
}


/******Body*****/

.mainhome {
    width: 100%;
    margin-top: 10px;
    margin: 0px auto;
    padding: 0px;
    width: 77.5%;
    /*77.5%*/
    max-width: 992px;
    position: relative;
    display: flex;
}

.maininnews {
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: 822px;
    max-width: 822px;
}


/*Above Left*/

.left {
    position: relative;
    float: left;
    display: block;
    width: 656px;
    max-width: 656px;
    min-width: 656px;
}

.mainnews {
    position: relative;
    display: block;
    width: 656px;
    max-width: 656px;
    min-width: 656px;
    height: 608px;
}

.menutitlebox {
    position: relative;
    height: inherit;
    border: 1px solid #F0F2FD;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 0px 4px;
}


/*Below Left*/

.subnews1 {
    width: 645px;
    display: flex;
    padding-bottom: 17px;
    border-bottom: 1px solid #B1BAD0;
    margin: 8px 0px;
}


/*Right*/

.right {
    position: relative;
    float: right;
    margin: 0px 0px 0px 16px;
    display: block;
    width: 320px;
    max-width: 320px;
    min-width: 320px;
}

.bluetitle {
    display: flex;
    position: relative;
    height: 46px;
}

.rightnews {
    margin-top: 24px;
    padding-bottom: 17px;
    border-bottom: 1px solid #B1BAD0;
}

.playbutton {
    position: absolute;
    left: 133.5px;
    top: 150px;
    background-color: #6A6767;
    opacity: 0.85;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    padding: 0px;
    border: 0px;
}

.subnews2 {
    width: 320px;
    height: 88px;
    display: flex;
    padding-bottom: 17px;
    border-bottom: 1px solid #B1BAD0;
    margin: 8px 0px;
}


/*More*/

.more {
    position: relative;
    width: 992px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 0px;
    display: flex;
}

.submore {
    width: 320px;
    margin-right: 17px;
    display: block;
    padding-bottom: 14px;
    border-bottom: 0px solid #B1BAD0;
}


/*Footer*/

.footer {
    margin: 0px auto;
    margin-top: 75px;
    padding-top: 17px;
    padding-left: 10%;
    padding-right: 40%;
    background: #5379F5;
}

@media only screen and (min-width:1280px) {
    /* For mobile phones: */
    .footer {
        margin: 0px auto;
        margin-top: 75px;
        padding-top: 17px;
        padding-left: 10%;
        padding-right: 40%;
        background: #5379F5;
    }
}

@media only screen and (min-width:992px) {
    /* For mobile phones: */
    .footer {
        margin: 0px auto;
        margin-top: 75px;
        padding-top: 17px;
        padding-left: auto;
        padding-right: auto;
        background: #5379F5;
    }
}

@media only screen and (min-width:656px) {
    /* For mobile phones: */
    .header {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        display: block;
        position: relative;
    }
    /*Searching*/
    .searching {
        margin: 0px auto;
        margin-top: 17px;
        padding: 0px;
        width: 77.5%;
        /*77.5%*/
        max-width: 992px;
        height: 67px;
        display: block;
        position: relative;
    }
    .footer {
        margin: 0px auto;
        margin-top: 75px;
        padding-top: 17px;
        padding-left: 10%;
        padding-right: 40%;
        background: #5379F5;
    }
}


/*******News*******/

.baiviet {
    margin-top: 20px;
    padding: 0px;
    padding-bottom: 50px;
    border-bottom: 1px solid #B1BAD0;
}

#dialogbackground {
    margin: 0px auto;
    padding: 0px;
    padding-top: 10%;
    border: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000B3;
    visibility: hidden;
    display: flex;
}

#dialog {
    position: relative;
    margin: 0px auto;
    z-index: inherit;
    width: 388px;
    height: 294px;
    background-color: #FFFFFF;
    border-radius: 16px;
    opacity: 1;
    display: block;
}

#icondialog {
    position: relative;
    z-index: inherit;
    margin: 0px auto;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
    border: 0px;
}